footer {
  text-align: center;
}
#world-clock-wrapper {
  border-style: solid;
  border-radius: 5px;
  margin: 40px auto;
  padding: 20px;
  background-color: black;
}
#city-name-selector {
  display: block;
  width: 100%;
  font-size: 16px;
  color: white;
  background-color: black;
  border-radius: 30px;
  border-color: #e8952d;
  padding: 10px 20px 10px 20px;
  margin-bottom: 20px;
  appearance: none;
}
#city-name-selector:hover {
  cursor: pointer;
  border-color: white;
  color: #e8952d;
  transition: ease-in-out 150ms;
}
.container {
  color: white;
  justify-content: space-between;
}
.world-clock-heading {
  color: #e8952d;
  font-size: 40px;
  font-style: normal;
  padding-bottom: 10px;
}
.time {
  font-size: 40px;
}
